@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Epilogue", serif;
    /* line-height: 1.5;
  font-weight: 400; */

    /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply text-[22px] text-primary;
    background-color: theme("colors.dark");
}

a {
    @apply text-[20px] hover:text-accent transition-all duration-300;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    @apply text-primary;
}

.h1 {
    @apply text-[64px] leading-none;
}

.h2 {
    @apply text-[50px] leading-tight;
}

.h3 {
    @apply text-[25px];
}

.btn {
    @apply h-[75px] px-[30px] transition-all duration-300 text-primary rounded-[18px] flex items-center gap-2;
}

.btn-accent {
    @apply bg-accent hover:bg-primary;
}

.nav-icon {
    @apply size-8;
}

.nav-is-open {
    @apply h-[350px] p-6;
}

.nav-links {
    @apply text-lg font-bold duration-300;
}

.nav-links:hover {
    @apply text-accent;
}

.about-icons {
    @apply size-[25px];
}

.border-icons {
    @apply w-11 h-11 border border-lighDark hover:bg-accent hover:text-lighDark rounded-full flex justify-center items-center;
}

.timeline-wrapper {
    @apply relative py-[22px];
}

.timeline-wrapper:last-child::before {
    @apply h-0;
}

.timeline-wrapper::before {
    content: "";
    @apply w-[3px] h-full absolute left-[38px] bg-accent;
}

.timeline-yr {
    @apply rounded-full bg-accent absolute w-[75px] h-[75px] text-center flex items-center justify-center;
}

.timeline-yr span {
    @apply text-primary text-sm font-bold whitespace-nowrap leading-normal;
}

.timeline-info {
    @apply inline-block align-top  max-w-[432px] ml-[6em];
}

.timeline-info small {
    @apply text-primary text-base font-bold;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
