@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Epilogue", serif;
    /* line-height: 1.5;
  font-weight: 400; */

    /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply text-[22px] text-primary;
    background-color: theme("colors.dark");
}

a {
    @apply text-[20px] hover:text-accent transition-all duration-300;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    @apply text-primary;
}

.h1 {
    @apply text-[64px] leading-none;
}

.h2 {
    @apply text-[50px] leading-tight;
}

.h3 {
    @apply text-[25px];
}

.btn {
    @apply h-[75px] px-[30px] transition-all duration-300 text-primary rounded-[18px] flex items-center gap-2;
}

.btn-accent {
    @apply bg-accent hover:bg-primary;
}

.nav-icon {
    @apply size-8;
}

.nav-is-open {
    @apply h-[350px] p-6;
}

.nav-links {
    @apply text-lg font-bold duration-300;
}

.nav-links:hover {
    @apply text-accent;
}

.about-icons {
    @apply size-[25px];
}

.border-icons {
    @apply w-11 h-11 border border-lighDark hover:bg-accent hover:text-lighDark rounded-full flex justify-center items-center;
}

.timeline-wrapper {
    @apply relative py-[22px];
}

.timeline-wrapper:last-child::before {
    @apply h-0;
}

.timeline-wrapper::before {
    content: "";
    @apply w-[3px] h-full absolute left-[38px] bg-accent;
}

.timeline-yr {
    @apply rounded-full bg-accent absolute w-[75px] h-[75px] text-center flex items-center justify-center;
}

.timeline-yr span {
    @apply text-primary text-sm font-bold whitespace-nowrap leading-normal;
}

.timeline-info {
    @apply inline-block align-top  max-w-[432px] ml-[6em];
}

.timeline-info small {
    @apply text-primary text-base font-bold;
}

.swiper-container {
    @apply overflow-hidden w-full h-full;
}

.button-prev,
.button-next {
    @apply relative transition-opacity ease-in-out duration-300;
}

.button-prev:hover,
.button-next:hover {
    @apply text-accent;
}

.button-prev.disabled,
.button-next.disabled {
    @apply bg-gray-400;
}

.number {
    -webkit-text-stroke: 2px #00adb5;
}